@font-face {
  font-family: "CustomFont"; /* 폰트 이름 정의 */
  src: url("/public/font/esamanru Medium.ttf") format("truetype"); /* .ttf 파일 경로 지정 */
}

body {
  font-family: "CustomFont", sans-serif; /* 기본 폰트로 'CustomFont' 사용 */
}

.bottom-section {
  width: 100vw;
  height: 57vh;
  background-color: #6e7e7c;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  position: relative; /* 자식 요소의 위치를 절대적으로 지정하기 위해 부모에 position을 설정 */
  background-image: url("/public/img/background/111.gif"); /* 배경 이미지 경로 */
  background-size: 100% 100%; /* 원래 이미지 크기의 120%로 확대 */
  background-position: center; /* 왼쪽에서 10% 잘라내고 중앙 정렬 */
  background-repeat: no-repeat; /* 이미지 반복 금지 */
}

.text-box {
  position: absolute;
  height: 10vh;
  width: 100vw;
  top: 0px;
  left: 0px;
  background-image: url("/public/img/background/text.png"); /* 배경 이미지 경로 */
  background-size: 100% 100%; /* 원래 이미지 크기의 120%로 확대 */
  background-position: center; /* 왼쪽에서 10% 잘라내고 중앙 정렬 */
  background-repeat: no-repeat; /* 이미지 반복 금지 */
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 4.8vw;
}

.text-layer {
  position: absolute;
  height: 5vh;
  width: 94vw;
  top: -7px;
}

.text {
  position: absolute;
  top: 3.2vh;
  left: 6vw;
}

.change {
  position: absolute;
  top: 12vh;
  right: 1vw;
  font-size: 20px;
  width: 30vw;
  height: 6vh;
  border-radius: 5px; /* 모서리 둥글게 */
  text-align: center;

  background-color: rgba(0, 0, 0, 0.7);

  display: flex; /* 플렉스 박스 사용 */
  justify-content: center; /* 가로로 가운데 정렬 */
  align-items: center; /* 세로로 가운데 정렬 */
}

.bench {
  position: absolute;
  width: 96vw;
  height: 12vh;
  left: 2vw;
  border-radius: 5px; /* 모서리 둥글게 */
  background-color: rgba(0, 0, 0, 0.7);
  overflow: hidden; /* 넘치는 부분 숨김 */
}
.bench.one {
  top: 20vh;
}
.bench.two {
  top: 35vh;
}

.selected {
  background-color: rgb(27, 228, 68);
}

.pokemon-bench-img {
  position: absolute;
  height: 15vh;
  width: 15vh;
  left: 2vh;
}

.pokemon-bench-name {
  position: absolute;
  height: 15vh;
  width: 15vh;
  left: 20vh;
  top: 1.5vh;
}

.pokemon-bench-button {
  position: absolute;
  height: 8vh;
  width: 15vh;
  top: 2vh;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 6px;
  display: flex; /* 플렉스 박스 사용 */
  justify-content: center; /* 가로로 가운데 정렬 */
  align-items: center; /* 세로로 가운데 정렬 */
}

.pokemon-bench-button.switch {
  left: 6vh;
}

.pokemon-bench-button.info {
  right: 6vh;
}

.pokemon-switch-hp-bar {
  position: absolute;
  left: 20vh;
  bottom: 13vh;
}

.hp-bar {
  position: absolute;
  width: 18vh; /* 직사각형의 가로 길이 */
  height: 3.5vh; /* 직사각형의 세로 길이 */
  background-color: #ffffff; /* 직사각형 색상 */
  transform: translate(4%, 7.5vh);
  border: 2px solid #665f5f; /* 검은색 테두리 추가 */
}

.hp-bar-text {
  position: absolute;
  width: 18vh; /* 직사각형의 가로 길이 */
  height: 3.5vh; /* 직사각형의 세로 길이 */
  margin-right: 1.5vw;
  margin-bottom: 0.5vh;
  color: black;

  text-align: right;
  display: flex; /* 플렉스 박스 사용 */
  justify-content: flex-end; /* 가로로 가운데 정렬 */
  align-items: flex-end; /* 세로로 가운데 정렬 */
  font-size: 2vh;
}

.hp-bar-text-margin {
  margin-right: 2%;
  margin-bottom: 2%;
}

.current-hp {
  position: absolute;
  width: 18vh; /* 직사각형의 가로 길이 */
  height: 3.5vh; /* 직사각형의 세로 길이 */
  background-color: #81ff47; /* 직사각형 색상 (연두색) */
}

.pokemon-benchinfo-img {
  position: absolute;
  left: 2vh;
  top: 10.5vh;
  width: 12vh;
}

.pokemon-benchinfo-name {
  position: absolute;
  left: 30vw;
  top: 12vh;
}
.pokemon-benchinfo-hp-bar {
  position: absolute;
  left: 27vw;
  top: 9vh;
}

.pokemon-benchinfo-type {
  position: absolute;
  width: 48vw;
  height: 7vh;

  border-radius: 5px; /* 모서리 둥글게 */
  background-color: rgba(0, 0, 0, 0.7);

  top: 24vh;
  left: 1vw;

  font-size: 15px;
}

.pokemon-benchinfo-type-text {
  position: absolute;
  top: 6px;
  left: 55px;
  font-size: 12px;
}
.pokemon-benchinfo-type-text-name {
  position: absolute;
  top: 22px;
  left: 55px;
}

.pokemon-benchinfo-type-icon {
  position: absolute;
  width: 40px;
  height: 80%;
  top: 4px;
  left: 4px;
  border-radius: 5px; /* 모서리 둥글게 */
}

.pokemon-benchinfo-abil {
  position: absolute;
  width: 48vw;
  height: 7vh;

  border-radius: 5px; /* 모서리 둥글게 */
  background-color: rgba(0, 0, 0, 0.7);

  top: 32vh;
  left: 1vw;

  font-size: 15px;
}

.pokemon-benchinfo-abil-text {
  position: absolute;
  top: 6px;
  left: 55px;
  font-size: 12px;
}
.pokemon-benchinfo-abil-text-name {
  position: absolute;
  top: 22px;
  left: 55px;
}

.pokemon-benchinfo-abil-icon {
  position: absolute;
  width: 40px;
  height: 80%;
  top: 4px;
  left: 4px;
  border-radius: 5px; /* 모서리 둥글게 */
}

.pokemon-benchinfo-item {
  position: absolute;
  width: 48vw;
  height: 7vh;

  border-radius: 5px; /* 모서리 둥글게 */
  background-color: rgba(0, 0, 0, 0.7);
  font-size: 15px;

  top: 32vh;
  right: 1vw;
}

.pokemon-benchinfo-item-text {
  position: absolute;
  top: 6px;
  left: 55px;
  font-size: 12px;
}
.pokemon-benchinfo-item-text-name {
  position: absolute;
  top: 22px;
  left: 55px;
}

.pokemon-benchinfo-item-icon {
  position: absolute;
  width: 40px;
  height: 80%;
  top: 4px;
  left: 4px;
  border-radius: 5px; /* 모서리 둥글게 */
}

.long-skill-button {
  position: absolute;
  width: 48vw;
  height: 7vh;

  border-radius: 5px; /* 모서리 둥글게 */
  background-color: rgba(0, 0, 0, 0.7);
  font-size: 15px;
}
.long-skill-button.one {
  top: 40vh;
  left: 1vw;
}
.long-skill-button.two {
  top: 48vh;
  left: 1vw;
}
.long-skill-button.three {
  top: 40vh;
  right: 1vw;
}
.long-skill-button.four {
  top: 48vh;
  right: 1vw;
}

.long-skill-button-type {
  position: absolute;
  width: 40px;
  height: 80%;
  top: 4px;
  left: 4px;
  border-radius: 5px; /* 모서리 둥글게 */
}

.long-skill-button-skill-name {
  position: absolute;
  top: 6px;
  left: 55px;
}

.long-skill-button-skill-effect {
  position: absolute;
  top: 25px;
  left: 54px;
  font-size: 10px;
}

.long-skill-button-skill-pp {
  position: absolute;
  bottom: 4px;
  right: 3px;
  font-size: 10px;
  background-color: #665f5f;
  border-radius: 5px;
}
